.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.swp
*/*.swp
*/*.gal
*/*/*.gal
*/*.gwt
*/*/*.gwt
*~
*/*~
*.*~
*/*.*~
website/content/
website/_build/
content/b*/zaragoza_bars.png
content/data/*.pbf
tests/
